<script lang="ts">
  import { fly } from 'svelte/transition'
  import { quintIn, quintOut } from 'svelte/easing'
  import allQuestions from './questions'

  import Compass from '../components/Compass.svelte'

  let vector: [number, number]

  function calculateAverage(list) {
    let total = list.reduce(
      (previous, current) => Number(current) + previous,
      0,
    )
    return total / list.length
  }

  function handleResponse(event) {
    if (allQuestions[currentQuestionNumber].part === 0) {
      partOneResults = [...partOneResults, event.target.value]
    } else if (allQuestions[currentQuestionNumber].part === 1) {
      partTwoResults = [...partTwoResults, event.target.value]
    }

    currentQuestionNumber += 1

    if (currentQuestionNumber > allQuestions.length - 1) {
      quizFinished = true
    }

    tmpResponse = 0
  }

  function handleBack() {
    if (currentQuestionNumber > 0) {
      partOneResults.pop()
      currentQuestionNumber -= 1
    }

    tmpResponse = 0
  }

  $: quizFinished = false
  let currentQuestionNumber = 0

  $: partOneResults = []
  $: partTwoResults = []
  $: vector = [
    calculateAverage(partOneResults),
    calculateAverage(partTwoResults),
  ]

  // $: console.log(vector)

  let tmpResponse = 0
</script>

<style>
  h1 {
    text-align: center;
    padding-bottom: 1em;
  }

  h1,
  h2 {
    margin: 0 auto;
  }

  p {
    margin: 0.5em 0;
  }

  h1 {
    font-size: 2.8em;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }

  form {
    position: relative;
    margin: auto auto;
  }

  fieldset {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 2em 0;
    padding: 1em 1em;
  }

  @media only screen and (max-width: 600px) {
    fieldset {
      transform: translate(-6%, 0);
    }
  }

  legend,
  h2 {
    font-weight: bold;
  }

  input,
  li {
    margin: 0.6em 0.4em;
  }

  .flex-apart {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .flex-apart label {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .flex-apart * {
    min-width: 100px;
  }

  .flex-apart .left {
    text-align: left;
  }

  .flex-apart .right {
    text-align: right;
  }

  .flex-apart .right {
    margin-right: auto;
  }
  .custom-slider {
    width: 100%;
  }

  input[type='range'] {
    width: 99%;
    -webkit-appearance: none;
    appearance: none;
    background: var(--lightBlue);
    height: 10px;
    outline: none;
    border-radius: 5px;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-width: 2px;
    border-color: var(--white3);
    background: var(--lightPink);
    cursor: pointer;
  }

  input[type='range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-width: 2px;
    border-color: var(--white3);
    background: var(--lightPink);
    cursor: pointer;
  }

  input[type='range'].invert {
    transform: rotateY(180deg);
  }

  progress {
    width: 50%;
  }

  progress[value]::-moz-progress-bar {
    background-image: -moz-linear-gradient(
        135deg,
        transparent 33%,
        transparent 66%
      ),
      -moz-linear-gradient(left, var(--lightBlue), var(--lightPink));

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
        -45deg,
        transparent 33%,
        transparent 66%
      ),
      -webkit-linear-gradient(left, var(--lightBlue), var(--lightPink));

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
</style>

<svelte:head>
  <title>MAP Contact Compass 🧭</title>
</svelte:head>

<h1>MAP Contact Compass 🧭</h1>

<h2 class="h5">
  This tool is intended to assess individuals' views on sexual contact between
  children and adults.
</h2>

<br />

{#if !quizFinished}
  <p out:fly={{ delay: 100, duration: 300, x: -300, y: 0, easing: quintOut }}>
    This form will ask you some questions to evaluate where you fit on our
    contact compass. After you've answered the questions, a personal contact
    compass will be generated for you.
  </p>

  <p out:fly={{ delay: 100, duration: 300, x: -300, y: 0, easing: quintOut }}>
    Rate each statement below based on how often you either agree or disagree
    with it.
  </p>

  <p out:fly={{ delay: 100, duration: 300, x: -300, y: 0, easing: quintOut }}>
    <em>Note: JavaScript is required. None of your answers will be stored.</em>
  </p>

  <form on:submit|preventDefault>
    {#key allQuestions[currentQuestionNumber].name}
      <fieldset
        out:fly={{ delay: 100, duration: 400, x: -300, y: 0, easing: quintOut }}
        in:fly={{ delay: 200, duration: 400, x: 300, y: 0, opacity: 0, easing: quintIn }}>
        <legend>{allQuestions[currentQuestionNumber].question}</legend>

        <br />
        <div class="custom-slider">
          <div class="flex-apart">
            <label for="slider" class="left">Always Disagree</label>
            <label for="slider" class="middle">Neutral</label>
            <label for="slider" class="right">Always Agree</label>
          </div>
          <input
            id="slider"
            type="range"
            min={-10}
            max={10}
            bind:value={tmpResponse}
            step="1"
            class:invert={allQuestions[currentQuestionNumber].invert} />
        </div>

        <br />
        <div class="flex-apart">
          {#if currentQuestionNumber > 0}
            <button on:click={handleBack} for="slider">Back</button>
          {:else}
            <div aria-disabled="true" />
          {/if}
          <progress
            class="middle"
            value={currentQuestionNumber}
            max={allQuestions.length}>
            {currentQuestionNumber}
            /
            {allQuestions.length}
          </progress>
          <button on:click={handleResponse} value={tmpResponse}>Next</button>
        </div>
      </fieldset>
    {/key}
  </form>
{:else}
  <div in:fly={{ delay: 100, duration: 300, x: 0, y: 600, opacity: 0 }}>
    <h3>Your results:</h3>

    <Compass {vector} />

    <br />

    <small>Vector Result:
      <code>({vector[0].toFixed(2)}, {vector[1].toFixed(2)})</code></small>
  </div>

  <h4>What do my results mean?</h4>

  <h5>X-axis</h5>
  <ul>
    <li>
      <strong>Informed consent: </strong>The belief that children are incapable
      of having a complete understanding of the consequences of engaging in
      sexual activities and shouldn’t engage in such activities.
    </li>
    <li>
      <strong>Freedom of choice: </strong>The belief that children deserve the
      right to choose whether to engage in sexual activities based on their
      understanding of such activities.
    </li>
  </ul>

  <h5>Y-axis</h5>
  <ul>
    <li>
      <strong>Legal regulation: </strong>The belief that intervention by law
      enforcement is needed in order to protect children who are engaging in
      sexual activities.
    </li>
    <li>
      <strong>Social reform: </strong>The belief that social reform is needed in
      order to reduce the harm caused to children by engaging in sexual
      activities.
    </li>
  </ul>
{/if}
